header
  | ヘッダーだよー
#window

link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300|Roboto:300&display=swap" rel="stylesheet"
= stylesheet_link_tag 'reset'
= stylesheet_link_tag 'stray'

= javascript_pack_tag 'strayLoader'
= stylesheet_pack_tag 'strayLoader'