$main-color: #8294cb;
$accent-color: #f2cfff;
$white: #f0f4f0;
$gray1: #a7acd1;
$gray2: #747796;
$gray3: #575a73;

$rarity1: #f0f4f0;
$rarity2: #f8d66a;
$rarity3: #b0fcff;
$rarity4: #f898b7;
$rarity5: #c1b7ff;

$plus: #f8779d;
$minus: #779af8;

$str: $rarity4;
$dex: #79f850;
$def: $rarity2;
$agi: $rarity3;

$yellow: $rarity2;
$clickable-color: #303152;
$clickable-hover-color: #4e557a;
$background: rgb(17, 23, 40);
$background_with_opacity: rgba(17, 23, 40, 0.7);
$space: 8px;
$thin_space: 4px;
$radius: 4px;

$guide-height: 30px;
// global_setting.scss の .menu .back に依存があるので変更時には追従すること
// calc の中身に変数が展開できなくてこうなってしまった...
$window-width: 1024px;
$window-height: 570px;

$font-size-large: 22px;
$font-size-normal: 16px;
$font-size-mini: 14px;

$opacity: 0.95;