$main-color: #8294cb;
$accent-color: #f2cfff;
$white: #f0f4f0;
$gray1: #ced1ce;
$gray2: #a1a4a1;
$gray3: #646a74;

$rarity1: #f0f4f0;
$rarity2: #f8d66a;
$rarity3: #90e7ff;
$rarity4: #f898b7;
$rarity5: #c1b7ff;

$plus: #f8779d;
$minus: #779af8;

$str: $rarity4;
$dex: #aef887;
$def: $rarity3;
$agi: $rarity2;

$yellow: $rarity2;
$clickable-color: #5e7784;
$background: #333e4a;
$space: 8px;
$thin_space: 4px;
$radius: 4px;

$guide-height: 30px;
// global_setting.scss の .menu .back に依存があるので変更時には追従すること
// calc の中身に変数が展開できなくてこうなってしまった...
$window-width: 1024px;
$window-height: 570px;

$font-size-large: 22px;
$font-size-normal: 16px;
$font-size-mini: 14px;

$opacity: 0.95;