@import "constants";
#app{
  position: relative;
  margin: 50px auto;
  // TODO: ウィンドウサイズはデバッグしやすいように小さめにしているけど、将来的に再検討する
  width: $window-width;
  height: $window-height + $guide-height;
  background-color: $background;
  color: $white;
  font-family: "Roboto", 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  .game{
    position: relative;
    width: $window-width;
    height: $window-height;
    overflow: hidden;
  }

  .open_window-enter-active {
    transition: all .1s;
  }
  .open_window-leave-active {
    transition: all .1s;
  }
  .open_window-enter{
    transform: translateX(-30px);
    opacity: 0;
  }
  .open_window-leave-to{
    transform: translateX(-30px);
    opacity: 0;
  }
  ::selection{
    background: none;
  }
}

.window{
  position: absolute;
  border: 1px solid $gray3;
  border-radius: $radius;
  padding: $thin_space;
  background-color: $background_with_opacity;
}

.menu{
  .back{
    position: absolute;
    top: -100px;
    // calcするためにwindow-widthをベタ書きしてしまった...
    left: calc((1024px - 100vw) / 2);
    width: 100vw;
    // -100px は header
    height: calc(100vh - 100px);
  }
  .title_area{
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    .back_button{
      width:  8%;
      height: $font-size-large * 1.5 + 2px;
      border-radius: $radius;
      text-align: center;
      font-size: $font-size-large;
      line-height: 150%;
      margin-right: $space;
      &::after{
        content: "◀";
      }
    }
    .title{
      font-size: $font-size-large;
    }
  }

  .content{
    position: absolute;
    width: $window-width - $space * 4;
    height: $window-height - $space * 4;
    background-color: $background;
    top: $space * 2;
    left: $space * 2;
    opacity: $opacity;
    padding: $space;
  }
}

.clickable{
  background-color: $clickable-color;
  border-radius: $radius;
  border: 1px solid $gray1;
  &:hover{
    background-color: $clickable-hover-color;
    filter: brightness(115%);
    transform: scale(1.04);
  }
}

.hoverable{
  &:hover{
    filter: brightness(120%);
    background-color: $gray3;
  }
}