@import "constants";
#app{
  position: relative;
  margin: 50px auto;
  // TODO: ウィンドウサイズはデバッグしやすいように小さめにしているけど、将来的に再検討する
  width: $window-width;
  height: $window-height + $guide-height;
  background-color: $background;
  color: $white;
  font-family: "Roboto", 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  cursor: default;
  .game{
    position: relative;
    width: $window-width;
    height: $window-height;
  }

  .open_window-enter-active {
    transition: all .1s;
  }
  .open_window-leave-active {
    transition: all .1s;
  }
  .open_window-enter{
    transform: translateX(-30px);
    opacity: 0;
  }
  .open_window-leave-to{
    transform: translateX(-30px);
    opacity: 0;
  }

  .ending-enter-active {
    transition: all 2s;
  }
  .ending-leave-active {
    transition: all 1s;
  }
  .ending-enter{
    opacity: 0;
  }
  .ending-leave-to{
    opacity: 0;
  }

  ::selection{
    background: none;
  }
}

@mixin checker_background{
  background-color: $background;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='48' viewBox='0 0 60 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='fancy-rectangles' fill='%23262f47' fill-opacity='0.34'%3E%3Cpath d='M6 12h6v12H6V12zm12 0h6v12h-6V12zm6-12h6v12h-6V0zM12 0h6v12h-6V0zm0 24h6v12h-6V24zM0 0h6v12H0V0zm6 36h6v12H6V36zm12 0h6v12h-6V36zm12-12h6v12h-6V24zM42 0h6v12h-6V0zm-6 12h6v12h-6V12zm12 0h6v12h-6V12zM36 36h6v12h-6V36zm12 0h6v12h-6V36zm-6-12h6v12h-6V24zm12 0h6v12h-6V24z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
}

@mixin tile_background{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23262f47' fill-opacity='0.6'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to bottom, #3b3e5f 0%, $background 20%);
  background-repeat: repeat;
}

.window{
  position: absolute;
  border: 1px solid $gray3;
  border-radius: $radius;
  padding: $thin_space;
  opacity: $opacity;
}

.menu{
  .back{
    position: absolute;
    top: -100px;
    // calcするためにwindow-widthをベタ書きしてしまった...
    left: calc((1024px - 100vw) / 2);
    width: 100vw;
    // -100px は header
    height: calc(100vh - 100px);
  }
  .title_area{
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    .back_button{
      width:  8%;
      height: $font-size-large * 1.5 + 2px;
      border-radius: $radius;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: $space;
      &:hover{
        .arrow{
          &:before{
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-name: arrow;  
          }  
        }
      }
    }

    .arrow{
      width: 16px;
      height: 16px;
      margin: 0;
      position: relative;
      transform: rotate(135deg);
      border-left: none;
      border-top: none;
      border-right: 2px #fff solid;
      border-bottom: 2px #fff solid;
    }
      
    .arrow:before{
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      margin: 0;
      border-left: none;
      border-top: none;
      border-right: 1px #fff solid;
      border-bottom: 1px #fff solid;
    }
    @keyframes arrow{
      0%{
        opacity: 1
      }
      100%{
        opacity: 0;
        transform: translate(-20px, -20px);
      }
    }
  }

  .title{
    font-size: $font-size-large;
  }

  .content{
    position: absolute;
    width: $window-width - $space * 4;
    height: $window-height - $space * 4;
    @include checker_background;
    top: $space * 2;
    left: $space * 2;
    padding: $space;
  }
}

.floating_window{
  background-color: $background_with_opacity;
}

.clickable{
  background: linear-gradient(to bottom, $clickable-highlight-color, $clickable-color 5%, $clickable-color 90%, $clickable-highlight-color);
  border-radius: $radius;
  border: 1px solid $gray1;
  &:hover{
    background: linear-gradient(to bottom, $clickable-highlight-color, $clickable-color 25%, $clickable-color 65%, $clickable-highlight-color);
    filter: brightness(115%);
    transform: scale(1.10);
  }
  cursor: pointer;
}

.super_clickable {
  animation: animate-stripes 5s linear infinite;
  border-radius: $radius;
  background-size: 15px 15px;
  background-image: linear-gradient(
      135deg,
      $gray3-opacity 25%,
      $yellow-opacity-low 25%,
      $yellow-opacity-low 50%,
      $gray3-opacity 50%,
      $gray3-opacity 75%,
      $yellow-opacity-low 75%,
      $yellow-opacity-low
  );
  border: 1px solid $yellow;
  background-repeat: repeat;
  &:hover{
    filter: brightness(115%);
    transform: scale(1.1);
  }
  cursor: pointer;
}  

.not_clickable{
  background: linear-gradient(to bottom, $clickable-highlight-color, transparent 5%, transparent 90%, $clickable-highlight-color);
  border-radius: $radius;
  border: 1px solid $gray1;
  opacity: 0.5;
}

.hoverable{
  &:hover{
    filter: brightness(180%);
  }
}

@mixin centering($height){
  height: $height;
  padding-top: (($height - $font-size-normal) / 2);
  line-height: 100%;
  text-align: center;
}

.scrollable{
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
    border: none;
    border-radius: $radius;
    box-shadow: inset 0 0 2px #777;
  }
  &::-webkit-scrollbar-thumb{
    background: $gray2;
    border-radius: $radius;
    box-shadow: none;
  }
}

.selectable{
  background-color: $gray3-opacity;
  border: 1px solid transparent;
  cursor: pointer;
}

.selected {
  animation: animate-stripes 12s linear infinite;
  background-size: 15px 15px;
  background-image: linear-gradient(
      135deg,
      $gray3 25%,
      $gray3-opacity 25%,
      $gray3-opacity 50%,
      $gray3 50%,
      $gray3 75%,
      $gray3-opacity 75%,
      $gray3-opacity
  );
  border: 1px solid $yellow;
  background-repeat: repeat;
}  

.disabled{
  background-color: $gray3-opacity;
  opacity: 0.5;
  cursor: default;
}


.list_item_large{
  padding: $space;
  background-color: $gray3-opacity;
  border-top: 1px solid $gray3;
  border-bottom: 1px solid $gray3;
  line-height: 100%;
}

.list_item_medium{
  padding: $space;
  background-color: $background_with_opacity;
  border-radius: $radius;
  border-top: 1px solid $gray3;
  border-bottom: 1px solid $gray3;
  line-height: 100%;
}

.character_equip{
  border-radius: $radius;
  padding: $space;
  line-height: 100%;
  border-top: 1px solid $gray3;
  border-bottom: 1px solid $gray3;
  border-right: 2px solid $gray3;
  border-left: 2px solid $gray3;
}

.topic_medium{
  background: $accent-color-opacity;
  line-height: 100%;
  padding: $thin_space;
  border-left: 1px solid $accent-color;
  border-right: 1px solid $accent-color;
}

.main_sheet{
  background: $background_with_opacity;
  border-radius: $radius;
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
    border-color: $yellow;
    color: $white;
  }

  25% {
    border-color: $plus;
    color: $yellow;
  }

  50% {
    border-color: $yellow;
    color: $white;
  }

  25% {
    border-color: $plus;
    color: $yellow;
  }

  100% {
    background-position: 60px 0;
    border-color: $yellow;
    color: $white;
  }
}
