@import "constants";
#app{
  position: relative;
  margin: 50px auto;
  // TODO: ウィンドウサイズはデバッグしやすいように小さめにしているけど、将来的に再検討する
  width: $window-width;
  height: $window-height + $guide-height;
  background-color: $background;
  color: $white;
  font-family: "Roboto", 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  cursor: default;
  .game{
    position: relative;
    width: $window-width;
    height: $window-height;
  }

  .open_window-enter-active {
    transition: all .1s;
  }
  .open_window-leave-active {
    transition: all .1s;
  }
  .open_window-enter{
    transform: translateX(-30px);
    opacity: 0;
  }
  .open_window-leave-to{
    transform: translateX(-30px);
    opacity: 0;
  }
  ::selection{
    background: none;
  }
}

@mixin checker_background{
  background-color: #1b2132;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='48' viewBox='0 0 60 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='fancy-rectangles' fill='%23262f47' fill-opacity='0.34'%3E%3Cpath d='M6 12h6v12H6V12zm12 0h6v12h-6V12zm6-12h6v12h-6V0zM12 0h6v12h-6V0zm0 24h6v12h-6V24zM0 0h6v12H0V0zm6 36h6v12H6V36zm12 0h6v12h-6V36zm12-12h6v12h-6V24zM42 0h6v12h-6V0zm-6 12h6v12h-6V12zm12 0h6v12h-6V12zM36 36h6v12h-6V36zm12 0h6v12h-6V36zm-6-12h6v12h-6V24zm12 0h6v12h-6V24z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
}

@mixin tile_background{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23262f47' fill-opacity='0.6'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to bottom, #3b3e5f 0%, $background 20%);
  background-repeat: repeat;
}

.window{
  position: absolute;
  border: 1px solid $gray3;
  border-radius: $radius;
  padding: $thin_space;
}

.menu{
  .back{
    position: absolute;
    top: -100px;
    // calcするためにwindow-widthをベタ書きしてしまった...
    left: calc((1024px - 100vw) / 2);
    width: 100vw;
    // -100px は header
    height: calc(100vh - 100px);
  }
  .title_area{
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    .back_button{
      width:  8%;
      height: $font-size-large * 1.5 + 2px;
      border-radius: $radius;
      text-align: center;
      font-size: $font-size-large;
      line-height: 150%;
      margin-right: $space;
      &::after{
        content: "◀";
      }
    }
    .title{
      font-size: $font-size-large;
    }
  }

  .content{
    position: absolute;
    width: $window-width - $space * 4;
    height: $window-height - $space * 4;
    @include checker_background;
    top: $space * 2;
    left: $space * 2;
    padding: $space;
  }
}

.floating_window{
  background-color: $background_with_opacity;
}

.clickable{
  background: linear-gradient(to bottom, $clickable-highlight-color, $clickable-color 5%, $clickable-color 90%, $clickable-highlight-color);
  border-radius: $radius;
  border: 1px solid $gray1;
  &:hover{
    background: linear-gradient(to bottom, $clickable-highlight-color, $clickable-color 25%, $clickable-color 65%, $clickable-highlight-color);
    filter: brightness(115%);
    transform: scale(1.10);
  }
  cursor: pointer;
}

.hoverable{
  &:hover{
    filter: brightness(180%);
  }
}

@mixin centering($height){
  height: $height;
  padding-top: (($height - $font-size-normal) / 2);
  line-height: 100%;
  text-align: center;
}

.scrollable{
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
    border: none;
    border-radius: $radius;
    box-shadow: inset 0 0 2px #777;
  }
  &::-webkit-scrollbar-thumb{
    background: $gray2;
    border-radius: $radius;
    box-shadow: none;
  }
}

.selectable{
  background-color: $gray3-opacity;
  border: 1px solid transparent;
  &.selected{
    background-color: $gray3;
    border: 1px solid $yellow;
  }
  cursor: pointer;
}

.list_item_large{
  padding: $space;
  background-color: $gray3-opacity;
  border-top: 1px solid $gray3;
  border-bottom: 1px solid $gray3;
  line-height: 100%;
}

.list_item_medium{
  padding: $space;
  background-color: $background_with_opacity;
  border-radius: $radius;
  border-top: 1px solid $gray3;
  border-bottom: 1px solid $gray3;
  line-height: 100%;
}

.character_equip{
  @include tile_background;
  border-radius: $radius;
  padding: $space;
  line-height: 100%;
  border-top: 1px solid $gray3;
  border-bottom: 1px solid $gray3;
  border-right: 3px solid $gray3;
  border-left: 3px solid $gray3;
}

.topic_medium{
  color: $accent-color;
  background: $background_with_opacity;
  line-height: 100%;
  padding: $thin_space;
  border-left: 4px solid $gray3;
  border-right: 1px solid $gray3;
  border-top: 1px solid $gray3;
  border-bottom: 1px solid $gray3;
}

.main_sheet{
  background: $background_with_opacity;
  border-radius: $radius;
}