
.main{
  .body{
    background-color: rgb(8, 11, 30);
    min-width: 800px;
    color: #f0f4f0;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    padding: 8px;  
    .back_to_game{
      padding: 8px;
      font-size: 20px;
    }
    h1{
      border-left: 10px solid #f0f4f0ad;
      padding-left: 10px;
    }
  }
}