
.main{
  display: flex;
  justify-content: center;
  .body{
    background-color: rgb(8, 11, 30);
    color: #f0f4f0;
    min-width: 800px;
    max-width: 1000px;
    width: 95%;
    max-width: 1000px;
    margin-left: 2.5%;
    margin-top: 2.5%;
    padding: 8px;  
    .back_to_game{
      padding: 8px;
      font-size: 20px;
    }
  
    .messages{
      .index{
        border-bottom: 1px solid #646a74;
      }
      .message{
        width: 100%;
        display: flex;
        .user_id{
          margin: 4px;
          width: 10%;
          border-right: 1px solid #646a74;
        }
        .content{
          flex: 1;
          margin: 4px;
          word-break: break-all;
        }
      }
    }
  }
}