
.main{
  .body{
    background-color: rgb(35, 50, 67);
    min-width: 800px;
    color: #f0f4f0;  
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    padding: 8px;  
    .back_to_game{
      padding: 8px;
      font-size: 20px;
    }
  
    .messages{
      .index{
        border-bottom: 1px solid #646a74;
      }
      .message{
        display: flex;
        width: 100%;
        .user_id{
          margin: 2px;
          width: 10%;
          border-right: 1px solid #646a74;
        }
        .message{
          margin: 2px;
          width: 90%;
        }
      }
    }
  }
}