
.main{
  .body{
    background-color: rgb(8, 11, 30);
    min-width: 800px;
    color: #f0f4f0;  
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    padding: 8px;  
    .back_to_game{
      padding: 8px;
      font-size: 20px;
    }
  
    .release_notes{
      .release_note{
        margin-bottom: 40px;
        .title{
          font-size: 20px;
          border-bottom: 1px solid #f0f4f0;
        }
        .published_at{
          width: 100%;
          text-align: right;
        }
        .content{
          padding: 8px;
          white-space: pre-wrap;
          line-height: 150%;
        }
      }  
    }
  }
}