header{
  background-color: rgb(35, 50, 67);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  .logo{
    height: 90%;
  }
  .title{
    font-size: 40px;
    line-height: 120%;
    background: linear-gradient(to bottom, #ece9f4, #b5c3c7);//背景色にグラデーションを指定
    -webkit-background-clip: text;//テキストでくり抜く
    -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
  }
}

body{
  background-image: url("/images/ui/bg.png");
  background-repeat: repeat;
  a:link, a:visited{
    color: #93baeb;
  }
  a:hover{
    color: #d4ddf1;
  }
}